[Unit]
Description=Bob the Playlist Builder

[Service]
ExecStart=/home/user/var/install/goontunes-beta/goontunes
WorkingDirectory=/home/user/var/install/goontunes-beta
Restart=always
RestartSec=5m 
RuntimeMaxSec=8h

[Install]
WantedBy=default.target
