#discord
token = "<discord dev token>"
channel = <channel id num>

#spotify
client_id     = "<spotify client id>"
client_secret = "<spotify client secret>"
redirect_uri  = "http://localhost:9091"

playlist = "<target playlist ID>"

